<div class="content">
    <div class="ui-g-row">
        <div class="ui-g-6">
            <h1 style="color: white;">Lista de Clientes</h1>
        </div>

        <div class="ui-g-6">
            <button class="floatRight" pButton type="button" label="Novo Cliente" [routerLink]="['/editCliente']"
                icon="pi pi-check" iconPos="left"></button>
        </div>
    </div>
</div>

<!-- Tabela de Clientes -->
<!-- <div class="ui-g-row">
    <p-table [columns]="cols" [value]="listaClientes">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3em"></th>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
            <tr>
                <td>
                    <a href="#" [pRowToggler]="rowData">
                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                    </a>
                </td>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
            <tr>
                <td [attr.colspan]="columns.length + 1">
                    <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                        <div class="ui-g-12 ui-md-3" style="text-align:center">
                        </div>
                        <div class="ui-g-12 ui-md-9">
                            <div class="ui-g">
                                <div class="ui-g-12">
                                    <b>Vin:</b> {{rowData.cpf}}
                                </div>
                                <div class="ui-g-12">
                                    <b>Year:</b> {{rowData.cpf}}
                                </div>
                                <div class="ui-g-12">
                                    <b>Brand:</b> {{rowData.cpf}}
                                </div>
                                <div class="ui-g-12">
                                    <b>Color:</b> {{rowData.cpf}}
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div> -->