<div class="p-grid">
    <div class="p-col-8 p-col-align-center" style="margin: auto;">
        <p-messages [value]="msgs"></p-messages>
        <p-tabView [activeIndex]="index">

            <p-tabPanel [disabled]="ecpf" [selected]="selecionou()" header="Pessoa Fisica" leftIcon="pi pi-user"
                tooltip="Cadastro de Pessoa Fisica">

                <div class="p-col">
                    <h4 class="cabecalho" *ngIf="idCliente && cadastroForm.enabled">
                        Editar Cliente {{ idCliente }}
                    </h4>
                    <h4 class="cabecalho" *ngIf="idCliente && cadastroForm.disabled">
                        Visualizar Cliente {{ idCliente }}
                    </h4>
                    <h4 class="cabecalho" *ngIf="!idCliente">
                        Cadastrar Novo Cliente
                    </h4>

                    <form [formGroup]="cadastroForm" (submit)="novoCliente()">
                        <div style="margin: 20px 20px 20px 20px;">
                            <div class="ui-g" style="padding: 20px 0px 0px 0px;">
                                <div class="ui-g-12">
                                    <span class="ui-float-label">
                                        <input style="width: 100%;" formControlName="nome" required type="text"
                                            pInputText>
                                        <label style="font-size: medium; color: #464646;">Nome Completo:</label>
                                    </span>
                                </div>
                            </div>

                            <div class="ui-g" style="padding: 20px 0px 0px 0px;">
                                <div class="ui-g-12">
                                    <span class="ui-float-label">
                                        <input style="width: 100%;" formControlName="email" type="email" pInputText>
                                        <label style="font-size: medium; color: #464646;">Email:</label>
                                    </span>
                                </div>
                            </div>

                            <div class="ui-g" style="padding: 20px 0px 0px 0px;">
                                <div class="ui-g-6">
                                    <span class="ui-float-label">
                                        <input styleClass="input" formControlName="rg" required type="number"
                                            maxlength="14" pInputText>
                                        <label style="font-size: medium; color: #464646;">RG:</label>
                                    </span>
                                </div>
                                <div class="ui-g-6">
                                    <span class="ui-float-label">
                                        <p-inputMask formControlName="cpf" mask="999.999.999-99" maxlength="11"
                                            required></p-inputMask>
                                        <label style="font-size: medium; color: #464646;">CPF:</label>
                                    </span>
                                </div>
                            </div>

                            <div class="ui-g" style="padding: 20px 0px 0px 0px;">
                                <div class="ui-g-6">
                                    <span class="ui-float-label">
                                        <p-inputMask formControlName="fone" mask="(99) 99999-9999" maxlength="14"
                                            required></p-inputMask>
                                        <label style="font-size: medium; color: #464646;">Telefone:</label>
                                    </span>
                                </div>
                                <div class="ui-g-6">
                                    <span class="ui-float-label">
                                        <p-inputMask formControlName="fone1" mask="(99) 99999-9999" maxlength="14"
                                            required></p-inputMask>
                                        <label style="font-size: medium; color: #464646;">Telefone:</label>
                                    </span>
                                </div>
                            </div>

                            <div class="ui-g" style="padding: 20px 0px 0px 0px;">
                                <div class="ui-g-12">
                                    <span class="ui-float-label">
                                        <input style="width: 100%;" formControlName="endereco" required type="text"
                                            pInputText>
                                        <label style="font-size: medium; color: #464646;">Endereco:</label>
                                    </span>
                                </div>
                            </div>

                            <div class="ui-g" style="padding: 20px 0px 0px 0px;">
                                <div class="ui-g-12">
                                    <!-- Excluir -->
                                    <button pButton type="button" label="Excluir" icon="pi pi-trash"
                                        (click)="excluirCliente()" class="ui-button-raised ui-button-danger"
                                        *ngIf="idCliente && cadastroForm.enabled"></button>
                                    <!-- Voltar -->
                                    <button pButton type="button" label="Voltar" icon="pi pi-times"
                                        class="ui-button-raised ui-button-danger floatRight"
                                        (click)="cancelarCadastro()"></button>
                                    <!-- Salvar -->
                                    <button pButton icon="pi pi-check" label="Salvar"
                                        *ngIf="!idCliente || cadastroForm.enabled"
                                        class="ui-button-raised floatRight"></button>
                                    <!-- Alterar -->
                                    <button pButton icon="pi pi-check" label="Alterar"
                                        *ngIf="idCliente && cadastroForm.disabled" (click)="cadastroForm.enable()"
                                        class="ui-button-raised ui-button-warning floatRight"></button>
                                </div>
                            </div>

                            <div class="ui-g" style="padding: 20px 0px 0px 0px;" *ngIf="idCliente">
                                <div class="ui-g-12">
                                    <h6 class="first">Processos</h6>
                                    <p-table [columns]="cols" [value]="processos">
                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th *ngFor="let col of columns">
                                                    {{col.header}}
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData>
                                            <tr>
                                                <td class="center"> {{rowData.numero}} </td>
                                                <td class="center"> {{rowData.area}} </td>
                                                <td class="center"> {{rowData.add}} </td>
                                                <td class="center">
                                                    <button pButton type="button" (onclick)="cancelar()"
                                                        icon="pi pi-search"></button>
                                                    <button pButton type="button" class="ui-button-warning"
                                                        (onclick)="cancelar()" icon="pi pi-pencil"
                                                        iconPos="left"></button>
                                                </td>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage" let-columns>
                                            <tr>
                                                <td [attr.colspan]="columns.length">
                                                    Não há processos cadastrados.
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </p-tabPanel>

            <p-tabPanel [disabled]="ecnpj" [selected]="selecionou()" header="Pessoa Jurídica" rightIcon="pi pi-inbox"
                tooltip="Cadastro de Pessoa Jurídica">

                <div class="p-col">
                    <h4 class="cabecalho" *ngIf="idCliente && cadastroForm.enabled">
                        Editar Empresa {{ idCliente }}
                    </h4>
                    <h4 class="cabecalho" *ngIf="idCliente && cadastroForm.disabled">
                        Visualizar Empresa {{ idCliente }}
                    </h4>
                    <h4 class="cabecalho" *ngIf="!idCliente">
                        Cadastrar Nova Empresa
                    </h4>

                    <form [formGroup]="cadastroForm" (submit)="novoCliente()">
                        <div style="margin: 20px 20px 20px 20px;">
                            <div class="ui-g" style="padding: 20px 0px 0px 0px;">
                                <div class="ui-g-12">
                                    <span class="ui-float-label">
                                        <input style="width: 100%;" formControlName="nome" required type="text"
                                            pInputText>
                                        <label style="font-size: medium; color: #464646;">Nome Completo:</label>
                                    </span>
                                </div>
                            </div>

                            <div class="ui-g" style="padding: 20px 0px 0px 0px;">
                                <div class="ui-g-12">
                                    <span class="ui-float-label">
                                        <input style="width: 100%;" formControlName="email" type="email" pInputText>
                                        <label style="font-size: medium; color: #464646;">Email:</label>
                                    </span>
                                </div>
                            </div>

                            <div class="ui-g" style="padding: 20px 0px 0px 0px;">
                                <div class="ui-g-8" style="margin: auto;">
                                    <span class="ui-float-label">
                                        <p-inputMask formControlName="cpf" mask="999.999.999-99" type="number"
                                            maxlength="11" required></p-inputMask>
                                        <label style="font-size: medium; color: #464646;">CPF:</label>
                                    </span>
                                </div>
                            </div>

                            <div class="ui-g" style="padding: 20px 0px 0px 0px;">
                                <div class="ui-g-6">
                                    <span class="ui-float-label">
                                        <p-inputMask formControlName="fone" mask="(99) 99999-9999" maxlength="14"
                                            required></p-inputMask>
                                        <label style="font-size: medium; color: #464646;">Telefone:</label>
                                    </span>
                                </div>
                                <div class="ui-g-6">
                                    <span class="ui-float-label">
                                        <p-inputMask formControlName="fone1" mask="(99) 99999-9999" maxlength="14"
                                            required></p-inputMask>
                                        <label style="font-size: medium; color: #464646;">Telefone:</label>
                                    </span>
                                </div>
                            </div>

                            <div class="ui-g" style="padding: 20px 0px 0px 0px;">
                                <div class="ui-g-12">
                                    <span class="ui-float-label">
                                        <input style="width: 100%;" formControlName="endereco" required type="text"
                                            pInputText>
                                        <label style="font-size: medium; color: #464646;">Endereco:</label>
                                    </span>
                                </div>
                            </div>

                            <div class="ui-g" style="padding: 20px 0px 0px 0px;">
                                <div class="ui-g-12">
                                    <!-- Excluir -->
                                    <button pButton type="button" label="Excluir" icon="pi pi-trash"
                                        (click)="excluirCliente()" class="ui-button-raised ui-button-danger"
                                        *ngIf="idCliente && cadastroForm.enabled"></button>
                                    <!-- Voltar -->
                                    <button pButton type="button" label="Voltar" icon="pi pi-times"
                                        class="ui-button-raised ui-button-danger floatRight"
                                        (click)="cancelarCadastro()"></button>
                                    <!-- Salvar -->
                                    <button pButton icon="pi pi-check" label="Salvar"
                                        *ngIf="!idCliente || cadastroForm.enabled" class="ui-button-raised floatRight"
                                        [disabled]="cadastroForm.invalid"></button>
                                    <!-- Alterar -->
                                    <button pButton icon="pi pi-check" label="Alterar"
                                        *ngIf="idCliente && cadastroForm.disabled" (click)="cadastroForm.enable()"
                                        class="ui-button-raised ui-button-warning floatRight"></button>
                                </div>
                            </div>

                            <div class="ui-g" style="padding: 20px 0px 0px 0px;" *ngIf="idCliente">
                                <div class="ui-g-12">
                                    <h6 class="first">Processos</h6>
                                    <p-table [columns]="cols" [value]="processos">
                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th *ngFor="let col of columns">
                                                    {{col.header}}
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData>
                                            <tr>
                                                <td class="center"> {{rowData.numero}} </td>
                                                <td class="center"> {{rowData.area}} </td>
                                                <td class="center"> {{rowData.add}} </td>
                                                <td class="center">
                                                    <button pButton type="button" (onclick)="cancelar()"
                                                        icon="pi pi-search"></button>
                                                    <button pButton type="button" class="ui-button-warning"
                                                        (onclick)="cancelar()" icon="pi pi-pencil"
                                                        iconPos="left"></button>
                                                </td>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage" let-columns>
                                            <tr>
                                                <td [attr.colspan]="columns.length">
                                                    Não há processos cadastrados.
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </p-tabPanel>
        </p-tabView>
    </div>
</div>