<div class="fullScreen">
  <mat-drawer-container class="fullScreen">

    <!-- Sidebar -->
    <mat-drawer #drawer mode="side" class="fundoMenu">
      <ems-sidebar></ems-sidebar>
    </mat-drawer>

    <!-- Menu superior -->
    <mat-drawer-content>
      <div class="ui-g-12 fundoMenu">
        <div class="ui-g-1">
          <i (click)="drawer.toggle();" class="fas fa-bars sideButton"></i>
        </div>
        <div class="ui-g-11">
          <ems-header></ems-header>
        </div>
      </div>
      <div class="ui-g-12">
        <main>
          <router-outlet></router-outlet>
        </main>
      </div>
    </mat-drawer-content>

  </mat-drawer-container>
</div>
